[Unit]
Description=OpenSSH Agent
Before=graphical-session-pre.target
ConditionPathExists=/etc/X11/Xsession.options

[Service]
ExecStart=/usr/lib/openssh/agent-launch start
ExecStopPost=/usr/lib/openssh/agent-launch stop
